<br /><br />
<p>
  <marquee
    behaviour="scroll"
    width="1000px"
    height="px"
    color="white"
    style="color: rgb(78, 218, 44); font-size: larger"
  >
    <strong
      ><i
        ><b
          >Thank you for searching your Github username and repositories.</b
        ></i
      ></strong
    ></marquee
  >
  <link rel="stylesheet" href="" />
</p>

<div class="container-fluid">
  <footer class="navbar navbar-expand-lg navbar-dark indigo">
    <div class="footer-copyright text-center pt-5">
      <p>
        <b>
          All Rights Reserved 2020 <br />
          Copyright &copy; benardakaka484@gmail.com</b
        >
      </p>
      <br />
    </div>
  </footer>
</div>
